//                               █         █    █            ▄▄▄▀▀▀▀▀▀▄▄▄        █▀▀▀▀▀▀▀▀▀▀█
//                               █        █     █          ▄▀            ▀▄      █          █
//                               █       █      █        ▄▀                ▀▄    █          █
//                               █      █       █        █                  █    █          █
//                               █     █        █       █                    █   █          █
//                               █    █         █       █                    █   █▄▄▄▄▄▄▄▄▄▄█
//                               █   █ █        █       █                    █   █      █
//                               █  █   █       █        █                  █    █       █
//                               █ █     █      █        ▀▄                ▄▀    █        █
//                               ██       █     █          ▀▄            ▄▀      █         █
//                               █         █    █▄▄▄▄▄▄▄▄    ▀▀▀▄▄▄▄▄▄▀▀▀        █          █
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE   0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        td_left_braceless: td_left_braceless {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_LEFT_BRACELESS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp RG(LEFT_BRACKET)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp ESC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┌───────────────────────────────────────────────────────────┐

            label = "BASE";

            // └───────────────────────────────────────────────────────────┘
            /*           ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             │    Q    │    W    │    F    │    P    │    G    │                    │    J    │    L    │    U    │    Y    │    ;    │   
   ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
   │   TAB   │    A    │    R    │    S    │    T    │    D    │                    │    H    │    N    │    E    │    I    │    O    │    "    │
   ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
   │   DEL   │    Z    │    X    │    C    │    V    │    B    ││  MUTE  ││PLY/PSE ││    K    │    M    │    ,    │    .    │    /    │    \    │
   └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
                                 │  CTRL   │  LOWER  │  SPACE  │   ALT   ││ CMD/WIN │  ENTER  │  RAISE  │  BSPCE  │  
                                 └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘ */

            bindings = <
                      &kp Q  &kp W  &kp E        &kp R                 &kp T                                                                 &kp Y                    &kp U                  &kp I        &kp O    &kp P
&kp TAB               &kp A  &kp S  &kp D        &hm LEFT_SHIFT F      &kp G                                                                 &kp H                    &kp J                  &kp K        &kp L    &hm RIGHT_CONTROL SEMICOLON  &kp APOS
&mt LEFT_SHIFT GRAVE  &kp Z  &kp X  &kp C        &kp V                 &kp B               &trans               &trans                       &kp N                    &kp M                  &kp COMMA    &kp DOT  &hm RA(RC(RIGHT_GUI)) SLASH  &hm RIGHT_SHIFT ENTER
                                    &lt 7 SPACE  &mt LEFT_SHIFT SPACE  &mt LEFT_ALT SPACE  &mt LEFT_GUI DELETE  &mt RIGHT_CONTROL BACKSPACE  &mt RG(RIGHT_ALT) SPACE  &mt RIGHT_SHIFT SPACE  &lt 8 SPACE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ┌───────────────────────────────────────────────────────────┐

            label = "LOWER";

            // └───────────────────────────────────────────────────────────┘
            /*           ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             │         │         │    UP   │         │    {    │                    │    }    │    7    │    8    │    9    │    +    │
   ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
   │         │         │   LEFT  │  DOWN   │  RIGHT  │    [    │                    │    ]    │    4    │    5    │    6    │    -    │         │
   ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
   │         │         │   P UP  │ C LOCK  │ P DOWN  │    (    ││        ││        ││    )    │    1    │    2    │    3    │    *    │         │
   └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
                                 │         │         │         │         ││         │         │    0    │         │  
                                 └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘ */

            bindings = <
            &bootloader        &kp C_VOLUME_DOWN  &kp K_MUTE        &kp C_VOLUME_UP  &kp RG(MINUS)                  &kp RG(EQUAL)  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_PLUS
&kp ESCAPE  &ext_power EP_TOG  &kp K_PREV         &kp K_PLAY_PAUSE  &kp K_NEXT       &kp RG(LBKT)                   &kp RG(RBKT)   &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_MINUS     &trans
&kp TILDE   &rgb_ug RGB_TOG    &rgb_ug RGB_EFR    &kp CAPS          &rgb_ug RGB_EFF  &kp LPAR       &trans  &trans  &kp RPAR       &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_MULTIPLY  &trans
                                                  &trans            &trans           &trans         &trans  &trans  &kp DELETE     &kp KP_N0  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ┌───────────────────────────────────────────────────────────┐

            label = "RAISE";

            // └───────────────────────────────────────────────────────────┘
            /*           ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             │         │         │         │         │         │                    │         │         │    Ü    │         │         │
   ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
   │    Ä    │         │    ß    │         │         │         │                    │         │         │         │         │    Ö    │         │
   ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
   │         │         │         │         │         │         ││        ││        ││         │         │         │         │         │         │
   └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
                                 │ ADJUST  │         │         │         ││         │         │         │         │  
                                 └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘ */

            bindings = <
            &kp EXCLAMATION  &kp AT     &kp HASH   &kp DOLLAR        &kp PERCENT                        &kp CARET      &kp AMPERSAND  &kp ASTERISK    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp ESCAPE  &kp BACKSLASH    &kp MINUS  &kp PLUS   &kp LEFT_BRACKET  &kp RIGHT_BRACKET                  &kp PAGE_UP    &kp LEFT       &kp UP_ARROW    &kp RIGHT             &trans                 &trans
&kp TILDE   &kp PIPE         &kp UNDER  &kp EQUAL  &kp LEFT_BRACE    &kp RIGHT_BRACE    &trans  &trans  &kp PAGE_DOWN  &kp HOME       &kp DOWN_ARROW  &kp END               &trans                 &trans
                                        &trans     &trans            &trans             &trans  &trans  &trans         &trans         &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        adjust_layer {
            // ┌───────────────────────────────────────────────────────────┐

            label = "ADJUST";

            // └───────────────────────────────────────────────────────────┘
            /*           ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             │         │         │         │         │         │                    │         │         │         │         │         │
   ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
   │         │         │         │         │         │         │                    │         │         │         │         │         │         │
   ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
   │         │         │         │         │         │         ││        ││        ││         │         │         │         │         │         │
   └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
                                 │         │         │         │         ││         │         │         │         │  
                                 └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘ */

            bindings = <
         &kp F1   &kp F2   &kp F3   &kp F4   &kp F5                   &trans          &mkp LCLK       &mkp MCLK       &mkp RCLK        &bt BT_CLR
&kp F16  &kp F6   &kp F7   &kp F8   &kp F9   &kp F10                  &msc SCRL_UP    &mmv MOVE_LEFT  &mmv MOVE_UP    &mmv MOVE_RIGHT  &mkp LCLK   &bootloader
&kp F17  &kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &trans  &trans  &msc SCRL_DOWN  &msc SCRL_LEFT  &mmv MOVE_DOWN  &msc SCRL_RIGHT  &bt BT_PRV  &bt BT_NXT
                           &trans   &trans   &trans   &trans  &trans  &trans          &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        vscode {
            bindings = <
             &kp LG(NUMBER_1)      &kp LG(NUMBER_2)       &kp LG(NUMBER_3)  &kp LG(NUMBER_4)  &kp LG(N5)                             &kp RG(NUMBER_6)   &kp RG(N7)         &kp RG(N8)         &kp RG(N9)          &kp RG(N0)
&bootloader  &kp LG(NUMBER_1)      &kp LA(SLASH)          &kp LA(F12)       &trans            &trans                                 &kp RC(MINUS)      &kp RC(EQUAL)      &kp RA(COMMA)      &kp RA(PERIOD)      &trans      &trans
&trans       &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &kp LG(MINUS)     &kp LG(EQUAL)     &kp RIGHT_PARENTHESIS  &trans  &trans  &kp RC(RS(MINUS))  &kp RC(RS(EQUAL))  &kp RA(RS(COMMA))  &kp RA(RS(PERIOD))  &trans      &trans
                                                          &trans            &trans            &trans                 &trans  &trans  &trans             &trans             &trans
            >;
        };

        symbols {
            label = "symbols";
            bindings = <
            &kp F1         &trans     &trans     &trans                &trans                                 &trans         &trans      &trans         &trans            &trans
&kp ESCAPE  &kp BACKSLASH  &kp MINUS  &kp EQUAL  &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)                  &kp LEFT       &kp DOWN    &kp UP_ARROW   &kp RIGHT         &kp COLON     &kp DOUBLE_QUOTES
&kp TILDE   &kp PIPE       &kp UNDER  &kp PLUS   &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans  &trans  &kp BACKSPACE  &kp DELETE  &kp LESS_THAN  &kp GREATER_THAN  &kp QUESTION  &kp RS(ENTER)
                                      &trans     &trans                &trans                 &trans  &trans  &trans         &trans      &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        mouse_f {
            label = "mouse_F";
            bindings = <
             &kp F1   &kp F2   &kp F3   &kp F4   &kp F5                   &rgb_ug RGB_TOG  &kp C_VOLUME_DOWN  &kp K_MUTE      &kp C_VOLUME_UP  &bt BT_CLR
&bootloader  &kp F6   &kp F7   &kp F8   &kp F9   &kp F10                  &rgb_ug RGB_EFF  &msc SCRL_LEFT     &msc SCRL_UP    &msc SCRL_RIGHT  &bt BT_NXT  &bootloader
&kp F16      &kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &trans  &trans  &rgb_ug RGB_EFR  &mkp MB4           &msc SCRL_DOWN  &mkp MB5         &bt BT_PRV  &ext_power EP_TOG
                               &trans   &trans   &trans   &trans  &trans  &trans           &trans             &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        NumSym {
            label = "NumSym";
            bindings = <
            &kp NUMBER_1     &kp NUMBER_2   &kp NUMBER_3  &kp NUMBER_4          &kp N5                                        &kp NUMBER_6        &kp N7             &kp N8             &kp N9     &kp N0
&kp ESCAPE  &kp EXCLAMATION  &kp AT_SIGN    &kp HASH      &kp DOLLAR            &kp PERCENT                                   &td_left_braceless  &kp RIGHT_BRACKET  &kp MINUS          &kp EQUAL  &kp BACKSLASH  &kp PERIOD
&kp TILDE   &kp CARET        &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans  &trans         &kp LEFT_BRACE      &kp RIGHT_BRACE    &kp UNDERSCORE     &kp PLUS   &kp PIPE       &trans
                                            &trans        &trans                &trans                 &trans  &kp RIGHT_GUI  &kp RIGHT_ALT       &trans             &kp RIGHT_CONTROL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        func {
            label = "func";
            bindings = <
             &kp F1   &kp F2   &kp F3   &kp F4   &kp F5                   &rgb_ug RGB_TOG  &kp C_VOLUME_DOWN  &kp K_MUTE    &kp C_VOLUME_UP  &bt BT_CLR
&bootloader  &kp F6   &kp F7   &kp F8   &kp F9   &kp F10                  &kp PAGE_UP      &kp LEFT           &kp UP_ARROW  &kp RIGHT        &msc SCRL_UP    &bootloader
&kp F16      &kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &trans  &trans  &kp PAGE_DOWN    &msc SCRL_LEFT     &kp DOWN      &msc SCRL_RIGHT  &msc SCRL_DOWN  &ext_power EP_TOG
                               &trans   &trans   &trans   &trans  &trans  &trans           &trans             &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
